<div *mobxAutorun class="container">
<h2>{{ isEdit ? 'Edit Workout' : 'New Workout' }}</h2>

<form [formGroup]="form" (ngSubmit)="save()">

  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" required>
  </div>

  <div>
    <label for="type">Type:</label>
    <input id="type" type="text" formControlName="type" required>
  </div>
  
  <div>
    <label for="date">Date:</label>
    <input id="date" type="date" formControlName="date" required>
  </div>

  <div>
    <label for="notes">Notes:</label>
    <textarea id="notes" formControlName="notes"></textarea>
  </div>

  <add-exercise-form [workout]="workoutStore.selectedWorkout"></add-exercise-form>

  <button type="submit" class="btn btn-success mt" [disabled]="form.invalid">
    {{ isEdit ? 'Update' : 'Create' }}
  </button>

  <button routerLink="/workouts" class="btn btn-danger mt">Cancel</button>
</form>
</div>
