<div class="container">
  <div class="flex space-between">
  <h1>Workouts</h1>
  </div>

  <a class="btn btn-primary" [routerLink]="['/workouts/new']">
    + New Workout
  </a>
<div class="card mt">
  @if(loading$) {
  <div>Loading...</div>
  }
  @else {
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th style="width: 180px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of workouts">
        <td>{{ w.name }}</td>
        <td>{{ w.date | dfnsFormat: 'MM/dd/yyyy' }}</td>
        <td>
          <button class="btn btn-sm btn-info" [routerLink]="['/workouts/view', w.id]">
            View
          </button>

          <button class="btn btn-sm btn-warning" [routerLink]="['/workouts/edit', w.id]">
            Edit
          </button>

          <button class="btn btn-sm btn-danger" (click)="deleteWorkout(w.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  }
  </div>
</div>