<h2>Workouts</h2>

<button routerLink="/workouts/new" class="btn btn-primary">Add Workout</button>

<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Date</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let w of workouts">
      <td>{{ w.date }}</td>
      <td>{{ w.notes }}</td>
      <td>
        <button class="btn btn-sm btn-info" [routerLink]="['/workouts', w.id]">View</button>
        <button class="btn btn-sm btn-danger" (click)="deleteWorkout(w.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
