<div class="add-exercise-box">
  <h3>Add Exercise</h3>

  <label>Exercise</label>
  <div class="exercise-search-container">
    <label for="exerciseSearch">Search Exercise</label>
    <input
      id="exerciseSearch"
      type="text"
      placeholder="Start typing to search..."
      (input)="searchTerm.next($event.target.value)"
      />

      @if (apiResults.length > 0) {
        <div class="search-results">
          @for (ex of apiResults; track ex) {
            <div
              class="search-result-item"
              (click)="selectExercise(ex)"
              >
              <strong>{{ ex.name }}</strong>
              <span class="muscle">{{ ex.primaryMuscle }}</span>
            </div>
          }
        </div>
      }
    </div>

    @if (selectedExercise) {
      <div class="selected-exercise">
        <h4>Selected Exercise</h4>
        <p>{{ selectedExercise.name }} – {{ selectedExercise.primaryMuscle }}</p>
      </div>

      <div class="exercise-inputs" [formGroup]="form">
        <label>Sets</label>
        <input type="number" formControlName="sets">

        <label>Reps</label>
        <input type="number" formControlName="reps">

        <label>RPE</label>
        <input type="number" formControlName="rpe" min="1" max="10">
      </div>
    }
    <button (click)="addExercise()">Add</button>
  </div>